#img1 {
  margin-right: 60vw;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #eaedd8;
  }
  50% {
    background-color: #f0e68c;
  }
  100% {
    background-color: #eaedd8;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  40% {
    transform: translateY(-350px);
  }
  60% {
    transform: translateY(-350px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bouncing-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  animation: bounce 30s linear infinite;
}

@media (max-width: 600px) {
  .bouncing-image {
    animation: rotate 4s linear infinite;
  }
}
